STRING
- create & acces

- indexing

- slicing

- methods

In [2]:
a= 'apple'# single quotes
b= "applejuice" # double quotes
c= '''this is example'''# triple quotes

- str is immuteable
- str is iterable 
- ,,,,,  indexed

In [4]:
print(a[0])
print(a[1])
print(a[-1])
print(a[-2])

a
p
e
l

In [14]:
name= "vijay deenanath chauhan"
print(name[6:15])
print(name[0:5])
print(name[:])
print(name[16:23])
print(name[:23:2])
print(name[::-1])

deenanath
vijay
vijay deenanath chauhan
chauhan
vjydeaahcahn
nahuahc htananeed yajiv

In [10]:
len(name)

23

In [15]:
name[:][::-1][:5]

'nahua'

In [17]:
fname ="bruce"
lname ="wayne"
fname+lname   #concatenation

'brucewayne'

In [20]:
' python ' *20 # repetition

' python  python  python  python  python  python  python  python  python  python  python  python  python  python  python  python  python  python  python  python '

In [21]:
a.capitalize()

'Apple'

- FIND AND REPLCE

In [27]:
sent= 'the king went to the jungle '
print(sent.find('king'))
print(sent.find('queen')) # -1 IF NOT FOUND
print(sent.find('in'))
print(sent.find('jun'))

print(sent.replace('king','queen'))
sent2= sent.replace('king','queen')
print(sent2)

4
-1
5
21
the queen went to the jungle
the queen went to the jungle

In [28]:
sent.replace('e' ,'o')

'tho king wont to tho junglo '

In [30]:
poem='''twikle twinkle little star ,
 how i wonder what yuo are.'''
print(poem.splitlines())
print(poem.split())
print(poem.split(','))

['twikle twinkle little star ,', ' how i wonder what yuo are.']
['twikle', 'twinkle', 'little', 'star', ',', 'how', 'i', 'wonder', 'what', 'yuo', 'are.']
['twikle twinkle little star ', '\n how i wonder what yuo are.']

In [31]:
path = ['c:', 'home', 'user', 'docs', 'file.text']

print("/" .join(path))

c:/home/user/docs/file.text